
@font-face {
    font-family: 'Space Grotesk';
    src: local('Space Grotesk Medium'), local('Space-Grotesk-Medium'),
        url('./src/assets/fonts/SpaceGrotesk-Medium.woff2') format('woff2'),
        url('./src/assets/fonts/SpaceGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: local('Space Grotesk Bold'), local('Space-Grotesk-Bold'),
        url('./src/assets/fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
        url('./src/assets/fonts/SpaceGrotesk-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}