
$clr-primary-100: #FFFFFF;
$clr-primary-200: #D9D9D9;
$clr-primary-800: #242424;
$clr-primary-900: #151515;

$clr-accent-400: #4EE1A0;

$ff: 'Space Grotesk', sans-serif;

$fs-h1: 5.5rem;
$fs-h1--tablet: 4.5rem;
$fs-h1--mobile: 2.5rem;
$fs-h2: 3rem;
$fs-h2--mobile: 2rem;
$fs-h3: 1.5rem;
$fs-body: 1.125rem;
$fs-body--mobile: 1rem;
$fs-btn: 1rem;

$fs-lh-h1: 1;
$fs-lh-h2: 1.17;
$fs-lh-h3: 1.33;
$fs-lh-body: 1.56;
$fs-lh-btn: 1.165;


$fw-bold: 700;
$fw-regular: 500;