@use "../abstracts/index" as *;

.btn {
    background: none;
    border: none;
    text-decoration: none;
    
    display: inline-flex;
    border-bottom-width: 2px;
    border-bottom-style: solid;

    padding-bottom: pxToRem(8);

    font-size: $fs-btn;
    font-weight: $fw-bold;
    line-height: $fs-lh-btn;
    text-transform: uppercase;

    transition: all 300ms ease-in-out;

    cursor: pointer;

    &--primary {
        border-bottom-color: $clr-accent-400;
        color: $clr-primary-100;

        &:hover,
        &:focus {
            color: $clr-accent-400;
        }
    }
}