@use "../abstracts/index" as *;

.header-primary {
    margin-top: pxToRem(20);
}

.footer-primary {
    margin-bottom: pxToRem(60);
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: pxToRem(20);

    &__logo {
        text-decoration: none;

        font-size: pxToRem(24);
        line-height: 1.33;

        color: $clr-primary-100;
    }

    &__social-links {
        display: flex;
        gap: pxToRem(26);

        .link a {

            svg path {
                transition: all 200ms ease-in-out;
            }

            &:hover svg path,
            &:focus svg path {
                fill: $clr-accent-400;
            }
        }
    }

    @include for-tablet-up {
        flex-direction: row;
        justify-content: space-between;
    }
}